body {
    margin: 0;                             
    display: flex;                          /* Torna o body um container flex */
    flex-direction: column;                 /* Organiza os elementos em coluna */
    background-color: black;              
}

header {    
    background: linear-gradient(to left, #610b0b, rgb(0, 0, 0)); 
    border-bottom: solid 3px;            
    border-color: rgb(100, 0, 0);        
    padding: 13px;                         
    display: flex;                         /* Header como flex */
    justify-content: flex-start;           /* Alinha itens à esquerda */
    align-items: flex-start;               /* Alinha itens no topo */
    height: 37px;                        
}

main {
    flex: 1;                                /* Ocupa o espaço restante da tela */
    display: flex;                          /* Container flex */
    flex-direction: column;                 /* Elementos em coluna */
    align-items: center;                    /* Centraliza horizontalmente */
    justify-content: flex-start;            /* Alinha itens no topo */
    padding-top: 110px;                  
}

section {
    background: linear-gradient(to right, rgb(97, 11, 11), rgb(0, 0, 0)); 
    display: flex;                          /* Organiza o conteúdo lado a lado */
    justify-content: center;                /* Centraliza horizontalmente */
    align-items: center;                    /* Centraliza verticalmente */
    width: 1400px;                          
    height: 450px;                          
    gap: 35px;                              
    box-shadow: 0px 10px 10px 10px rgb(0, 0, 0, 0.3); /* Sombra ao redor */
    border-radius: 10px;                  
}

img {
    width: 150px;                         
    border-radius: 5px;                    
}

h3 {
    color: white;                       
}

h4 {
    margin-top: 1px;                        
    color: white;                        
    font-weight: normal;                  
}

a {
    margin-top: -20px;                  
    text-decoration: none;            
}

div a {
    display: block;                         /* Faz o link se comportar como bloco */
    width: 200px;                       
    text-align: center;                     
    margin-top: 8px;                       
    text-decoration: none;                  
    color: #e50914;                         
    font-weight: bold;                     
    background: rgba(255,255,255,0.07);   
    padding: 6px 0;                         
    border-radius: 10px;                    
}

#invisivel {
    visibility: hidden;                     /* Fica invisível, mas ocupa espaço */
    pointer-events: none;                   /* Impede interação com o elemento */
}

h2 {
    color: white;                         
}

#sobre {
    margin-left: 90%;                      
    padding: 30px;                          
    text-decoration: none;                  
    color: #191616c7;                     
    font-size: 20px;                        
}
