body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(97, 11, 11), rgb(0, 0, 0));
}

header{    
    background: linear-gradient(to left, rgb(97, 11, 11), rgb(0, 0, 0));
    border-bottom: solid 3px;
    border-color: rgb(100, 0, 0);
    padding: 13px; 
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;    
}

.filme-info {
    display: flex;
    align-items: flex-start;   
    gap: 40px;
    padding-top: 30px;
    padding-left: 100px;
}

.filme-info img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.descricao h1,
.descricao h3 {
    margin: 0 0 0px 0;
    color: #fff;
}

.descricao {
    width: 900px;
    padding: 32px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.5);
}

#imgfilme{
    box-shadow: 0px 10px 10px 10px rgb(0, 0, 0, 0.5);
}
